<form class="mb-3" action="/person/create" method="post">
    <!-- NAME -->
    <section>
        <div class="input-group mb-3">
            <input 
                class="form-control" 
                type="text" 
                name="lastname" 
                placeholder="Lastname"
            >
            <input 
                class="form-control" 
                type="text" 
                name="lastnameAtBirth" 
                placeholder="Lastname At Birth"
            > 
        </div>
        <input 
            class="form-control mb-3" 
            type="text" name="firstname" 
            placeholder="Firstname"
        >
        <input 
            class="form-control mb-3" 
            type="text" 
            name="middlename" 
            placeholder="Middlename"
        > 
    </section>
    <!-- GENDER -->
    <section class="input-group mb-3">
        <span class="input-group-text">Gender:</span>
        <select class="form-select" name="gender" required>
            <option value="M">Male</option>
            <option value="F">Female</option>
        </select>
    </section>
    <!-- DOB, DOD -->
    <section class="input-group mb-3">
        <span class="input-group-text">Date of Birth:</span>
        <input 
            class="form-control" 
            type="date" 
            name="dob"
        >
        <span class="input-group-text">Date of Death</span>
        <input 
            class="form-control" 
            type="date" 
            name="dod"
        >
    </section>
    <!-- PARTNER -->
    <section class="mb-3">
            <label for="partner">Partner</label>
            <select class="form-select" name="partner">
                <option value="" disabled selected></option>
                <% for (person of persons) { %>
                    <option value="<%= person.id %>">
                        <%- include('partials/userInfo') %>
                    </option>
                <% } %>
            </select>
    </section>
    <!-- CHILDREN -->
    <section class="mb-3">
        <div>
            <label for="children">Children</label>
            <select class="form-select" name="children" multiple>
                <% for (person of persons) { %>
                    <option value="<%= person.id %>">
                        <%- include('partials/userInfo') %>
                    </option>
                <% } %>
            </select>
            <p>Hold CTRL to cancel selection</p>
        </div>
    </section>

    <button class="btn btn-primary">Create</button>
</form>

<div class="card">
    <div class="card-body">
        <h3>Debug Info</h3>
        <pre><%= persons %></pre>
    </div>
</div>