<h1><%= title %></h1>
<h2><%= user.username %></h2>
<h2>My Family Trees</h2>
<ul>
    <% for (tree of user.trees) { %>
        <li>
            <form action="/tree/remove/<%= tree.id %>" method="POST">
                <a href="/tree/<%= tree.id %>"><%= tree.title %></a>
                <button>Remove</button>
            </form>
        </li>
    <% } %>
</ul>
<form action="/tree/create" method="POST">
    <input type="text" name="title" placeholder="Title">
    <button>Create Family Tree</button>
</form>
<a href="/person/create">Create Person</a>

<hr>
<h3>Debug Info</h3>
<pre><%= user %></pre>



