<h1>
    <%= title %>:
    <%= user.username %> 
</h1>

<% if (user.trees.length) { %>
    <h2>My Family Trees</h2>
<% } %>
    
<!-- TODO: make component if needed -->
<ul class="list-group list-group-flush">
    <% for (tree of user.trees) { %>
        <li class="list-group-item">
            <form action="/tree/remove/<%= tree.id %>" method="POST">
                <a href="/tree/<%= tree.id %>"><%= tree.title %></a>
                <button class="btn btn-danger">Remove</button>
            </form>
        </li>
    <% } %>
</ul>

<form action="/tree/create" method="POST" class="row">
    <div class="col-auto">
        <input 
            class="form-control" 
            type="text" 
            name="title" 
            placeholder="Title"
            required
        >
    </div>
    <div class="col-auto">
        <button class="btn btn-primary">Create Family Tree</button>
    </div>
</form>

<% if (user.persons.length) { %>
    <h2>My Realtives</h2>
<% } %>

<ul>
    <% for( person of user.persons ) { %>
        <li>
            <!-- TODO: make component! -->
            <%= person.lastname %>
            <% if (person.lastnameAtBirth) { %>
                (<%= person.lastnameAtBirth %>)
            <% } %>
            <%= person.firstname %> 
            <%= person.middlename %>
            <%= person.gender %>
            
            <% if (!person.dob) { %>
                unknown
            <% } else { %>
                <%= (new Date(person.dob)).getFullYear() %>
            <% } %>
            –
            <% if (!person.dod) { %>
                unknown
            <% } else { %>
                <%= person.dod %>
            <% } %>
        </li>
    <% } %> 
</ul>

<div>
    <a href="/person/create">
        <button class="btn btn-primary">Create Person</button>
    </a>
</div>

<!-- FIXME: for testing purposes only: -->

<hr>

<div class="card">
    <div class="card-body">
        <h3>Debug Info</h3>
        <pre><%= user %></pre>
    </div>
</div>



