<!-- FAMILY TRESS -->
<section>
    <% if (user.trees.length) { %>
        <h2>My Family Trees</h2>
    <% } %>
    
    <ul class="list-group mb-3">
        <% for (tree of user.trees) { %>
            <li class="list-group-item">
                <form  action="/tree/remove/<%= tree.id %>" method="POST">
                    <a href="/tree/<%= tree.id %>"><%= tree.title %></a>
                    <!-- FIXME: button v-align -->
                    <button class="btn btn-danger position-absolute end-0">X</button>
                </form>
            </li>
        <% } %>
    </ul>

    <form action="/tree/create" method="POST">
        <div class="input-group mb-3">
            <input 
                type="text" 
                name="title" 
                class="form-control" 
                placeholder="Title" 
            >
            <button class="btn btn-primary" type="button">Create Tree</button>
        </div>
    </form>
    <hr>
</section>
    

<!-- PERSONS -->
<section class="mb-3">
    <% if (user.persons.length) { %>
        <h2>My Realtives</h2>
    <% } %>
    
    <ul class="list-group mb-3">
        <% for( person of user.persons ) { %>
            <li class="list-group-item">
                <%- include('partials/userInfo') %>
            </li>
        <% } %> 
    </ul>
    
    <div>
        <a href="/person/create">
            <button class="btn btn-primary">Create Person</button>
        </a>
    </div>
</section>


<%- include('../partials/debug.ejs') %>